body {
    background: rgb (186,150,99);
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb #a02822;
}

.cabecalho {
background-color: aqua;
display: flex;
}
.logocabecalho{ 
    width: 100px;

} 
.listacaabecalho{
    display: flex;
    margin-left: 500px;

} 
.item_lita_cabecalho{
    color: aqua;
    list-style: none;
    text-transform: uppercase;
    font-size: 100px;
    padding: 5px;
     
}

    




